.tab-panel-container {
    display: flex;
    flex-direction: column;
    padding: 1em;
    
    border: var(--border-width) solid var(--background-modifier-border);
    border-radius: var(--radius-m);
    background-color: var(--background-secondary);
}

ul.tab-container{
    display: flex;
    gap: 0.2em;
    list-style: none;
    margin: 0 1em 0 15px;
    margin-block: 0;
}

.tab-container > li.tab {
    margin: 0;
    margin-inline-start: 0;
    
    padding: 0.2em 1em;
    background-color: var(--background-secondary);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    
    &.selected {
        color: var(--color-accent);
        border: var(--border-width) solid var(--background-modifier-border);
        background-color: var(--background-primary);
        /* margin-bottom: -2px;
        border-bottom: 2px solid var(--background-primary); */
        border-bottom: none;
        margin-bottom: -2px;
        box-sizing: border-box;

        &::before {
            box-shadow: 0 0 0 calc(var(--tab-curve) * 4) var(--tab-background-active);
            left: calc(var(--tab-curve) * -2);
            clip-path: inset(50% calc(var(--tab-curve) * -1) 0 50%);
            position: absolute;
            bottom: 0;
            content: '';
            width: calc(var(--tab-curve) * 2);
            height: calc(var(--tab-curve) * 2);
            border-radius: 100%;
        }
        &::after {
            box-shadow: 0 0 0 calc(var(--tab-curve) * 4) var(--tab-background-active);
            right: calc(var(--tab-curve) * -2);
            clip-path: inset(50% 50% 0 calc(var(--tab-curve) * -1));
            position: absolute;
            bottom: -0.1px;
            content: '';
            width: calc(var(--tab-curve) * 2);
            height: calc(var(--tab-curve) * 2);
            border-radius: 100%;
        }
    }

    &:focus {
        color: var(--color-accent);
    }
}

.tab-label {
    padding: 0.3em 1em;
}

.tab:checked + .tab-label {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

div.content-container {
    /* border: 1px solid black; */
    background-color: var(--background-primary);
    border: var(--border-width) solid var(--background-modifier-border);
    padding: 1em;
    border-radius: var(--radius-m);
}

.content-container > div {
    &:not(.selected) {
        display: none;
    }

    & p {
        margin-bottom: 0 !important;
    }
}
